.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache

# Ignore other unneeded files.
doc/
*.swp
*~
.project
.DS_Store
.idea
.secret
spec/dummy/local.rb
